

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a asp-area="Admin" asp-controller="AdminLaptops" asp-action="Index"><i class="fa fa-home"></i> Quản lý Sản Phẩm <span></span></a>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Hãng sản xuất <span></span></a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Index"><i class="fa fa-desktop"></i> Quản lý Tài khoản <span></span></a>

            </li>
            <li>
                <a asp-area ="Admin" asp-controller="AdminDonHangs" asp-action="Index"><i class="fa fa-table"></i> Quản lý Đơn hàng <span></span></a>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o"></i> Thông kê Doanh thu <span></span></a>
                
            </li>
        </ul>
    </div>
</div>