

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a asp-area="Admin" asp-controller="AdminLaptops" asp-action="Index"><i class="fa fa-laptop"></i> Laptop <span></span></a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminThuongHieux" asp-action="Index"><i class="fa fa-wrench"></i> Thương hiệu <span></span></a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Index"><i class="fa fa-user"></i> Tài khoản <span></span></a>

            </li>
            <li>
                <a asp-area ="Admin" asp-controller="AdminDonHangs" asp-action="Index"><i class="fa fa-archive"></i> Đơn hàng <span></span></a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Trang chủ <span></span></a>
            </li>
        </ul>
    </div>
</div>