@model LaptopShop.Models.ErrorViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Lỗi hệ thống";
}

<style>
    /* Căn giữa cả chiều ngang và chiều dọc cho toàn bộ trang */
    body, html {
        height: 100%;
        margin: 0;
    }

    .centered-container {
        height: 100vh; /* Chiều cao viewport */
        display: flex;
        justify-content: center; /* căn ngang */
        align-items: center; /* căn dọc */
        flex-direction: column; /* xếp thẳng hàng dọc */
        text-align: center;
    }
</style>

<div class="centered-container">
    <h1>Đã xảy ra lỗi!</h1>
    <p>Hãy kiểm tra lại hệ thống!</p>
</div>


